html,body{
 background-color: black;
  margin:0px;
}

header div{
  display: inline-block;

}

header p{
  display: inline-block;
  font-size: 25px;
  font-family: sans-serif;

}

header{
  align-items: center;
  background-color:black;
  width: 100%;
  height: 10vh;
  display: inline-block;
  text-align: center;


}

#header-left{
  float:right;
}

#search{
  background-color: black;
  margin-top: 4vh;

}
#search button
{
border:none;
background-color: black;
}

#search input
{
	padding: 2px;
  background-color:black;
	border:1px solid white;
  margin-left: 0px;
  height:20px;
}

#search #mic{
  margin-right: 5vw;

}

#fav{
float: left;
padding-left: 10vw;
}

#search{
  margin-right: -10px;
}

header i{
  color: orange;
  font-size: x-large;
}

main{
  width: 60%;
height: auto;
background-color: black;
margin-top: 4vh;
margin-left: 5vw;
display: inline-block;



}
#artist{
  width: 100%;
  height:30vh;
  display: inline-block;
 background-image: linear-gradient(to right, #434343 0%, black 100%);

}
#artist #info{
  width: 65%;
  height: 50%;
  color: white;
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  padding-top: 3%;
  padding-left: 1%;

}


#artist #image{
  width: 30%;
  height:100%;
  background-image: url("img/zayn.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
#play{
	vertical-align: top;
	color:white;
	display: inline-block;
	margin-top:18%;
  margin-left:-60%;
	font-size: 2em;
}

#play:hover {
  opacity: 0.5;
}

#playlist{
  width:100%;
  height: 70vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  margin-top: 4vh;
}
#playlist-items{
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(to right, #434343 0%, black 100%);}

#imagep{
    width: 7%;
    height: 80%;
    background-image: url("img/imagep.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 1%;
    border-radius: 50%;

}
#playlist-items p
{
  vertical-align: top;
  margin:2%;
  margin-top: 3%;
  display: inline-block;
  font-family:cursive;
  font-weight:bold;
  color:white;

  }


#playlist-items #heart{
  vertical-align: top;
  margin-top: 3%;
  margin-left: 30%;
  color: white;

}

#playlist-items #plus{
  vertical-align: top;
  margin-top: 3%;
  margin-left: 15px;
  color: white;

}

aside{
    width: 30%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    margin-top: 4vh;
    margin-left: 2%;
}

#similar{
    height: 49%;
    width: 100%;
    margin-bottom: 1%;
}

#recent{

	 height: 100%;
    width: 100%;

}

#sim-header{
	height: 13%;
	width: 100%;
  background-color: black;
}
#rec-header{
	height: 13%;
	width: 100%;
    background-color: black;
    vertical-align: top;

}
#rec-header p{
  font-weight: 400;
  font-family: verdana;
  vertical-align:top;
  font-size: 18px;

}

#sim-header{
	font-size: 30px;
	font-weight: 400;
	font-family: verdana;
	padding-left: 15px;
	padding-top: 3px;
	padding-bottom: 15px;
	color: white;
  font-size: 20px;

}

#sim-playlist{
	width: 100%;
	height: 80%;
	overflow: scroll;
}

#album{
	width: 100%;
	height: 32%;
	background-color: black;
  margin-top: 2%;
  border-radius: 5px;
}

#album-pic{
    background-image: url("img/simart.jpg");
    background-size: cover;
    height: 90%;
    width: 20%;
    margin-left: 3%;
    margin-top: 1.25% ;
    border-radius: 50%;
}


#album-pic1{
    background-image: url("img/simart2.jpg");
    background-size: cover;
    height: 90%;
    width: 20%;
    margin-left: 3%;
    margin-top: 1.25% ;
    border-radius: 50%;
}


::-webkit-scrollbar {
	display: none;
}

#album div{
	display: inline-block;
}

#alb-name{
    vertical-align: top;
    margin-left: 10px;
    font-size: 18px;
    font-family: monospace;
    color: white;
}

#icon{
    vertical-align: top;
	margin-left: 36%;
	margin-top: 2%;
	color: white;
}


#rec-header{
	font-size: 30px;
	font-weight: 900;
	font-family: georgia;
	padding-left: 15px;
	margin-top: 10%;
	padding-top: 0.5%;
	padding-bottom: 3%;
	color: white;
}

#rec-playlist{
	width: 100%;
	height: 100%;

	overflow: scroll;
}

#album1{
	margin-top: %;
	width: 100%;
	height: 25%;
	background-color: black;
   	margin-top: 2%;
   	border-radius: 5px;
}

#album1 div{
	display: inline-block;
}
/* width */

::-webkit-scrollbar {
display: none;
}
.inlineb{
  display: inline-block;
}
.sans{
  font-family: sans-serif;
  font-weight:bold;

}
.center{
  text-align: center;
}
.top{
  vertical-align: top;

}
